In [15]:
import pandas as pd
import json

df = pd.read_csv("player_game_stats-full.csv", dtype={"game_id": str})
df.head()

,game_id,player_id,team_id,player_game_stats
0,0021800001,203967,1610612755,"[{'MIN': '22.000000:54', 'FGM': 3.0, 'FGA': 8...."
1,0021800001,203496,1610612755,"[{'MIN': '34.000000:13', 'FGM': 3.0, 'FGA': 10..."
2,0021800001,203954,1610612755,"[{'MIN': '36.000000:49', 'FGM': 9.0, 'FGA': 21..."
3,0021800001,1628365,1610612755,"[{'MIN': '24.000000:20', 'FGM': 2.0, 'FGA': 7...."
4,0021800001,1627732,1610612755,"[{'MIN': '42.000000:44', 'FGM': 7.0, 'FGA': 14..."

In [16]:
stats_list = df["player_game_stats"].to_list()
stats_list[:5]

["[{'MIN': '22.000000:54', 'FGM': 3.0, 'FGA': 8.0, 'FG_PCT': 0.375, 'FG3M': 0.0, 'FG3A': 4.0, 'FG3_PCT': 0.0, 'FTM': 0.0, 'FTA': 0.0, 'FT_PCT': 0.0, 'OREB': 0.0, 'DREB': 6.0, 'REB': 6.0, 'AST': 1.0, 'STL': 0.0, 'BLK': 0.0, 'TO': 3.0, 'PF': 5.0, 'PTS': 6.0, 'PLUS_MINUS': -4.0}]",
 "[{'MIN': '34.000000:13', 'FGM': 3.0, 'FGA': 10.0, 'FG_PCT': 0.3, 'FG3M': 2.0, 'FG3A': 7.0, 'FG3_PCT': 0.286, 'FTM': 0.0, 'FTA': 0.0, 'FT_PCT': 0.0, 'OREB': 1.0, 'DREB': 5.0, 'REB': 6.0, 'AST': 0.0, 'STL': 2.0, 'BLK': 1.0, 'TO': 2.0, 'PF': 1.0, 'PTS': 8.0, 'PLUS_MINUS': -11.0}]",
 "[{'MIN': '36.000000:49', 'FGM': 9.0, 'FGA': 21.0, 'FG_PCT': 0.429, 'FG3M': 1.0, 'FG3A': 4.0, 'FG3_PCT': 0.25, 'FTM': 4.0, 'FTA': 5.0, 'FT_PCT': 0.8, 'OREB': 2.0, 'DREB': 8.0, 'REB': 10.0, 'AST': 2.0, 'STL': 1.0, 'BLK': 2.0, 'TO': 5.0, 'PF': 3.0, 'PTS': 23.0, 'PLUS_MINUS': -8.0}]",
 "[{'MIN': '24.000000:20', 'FGM': 2.0, 'FGA': 7.0, 'FG_PCT': 0.286, 'FG3M': 0.0, 'FG3A': 0.0, 'FG3_PCT': 0.0, 'FTM': 1.0, 'FTA': 2.0, 'FT_PCT': 0.5, 'OREB': 0.0, 'DREB': 3.0, 'REB': 3.0, 'AST': 2.0, 'STL': 1.0, 'BLK': 0.0, 'TO': 3.0, 'PF': 1.0, 'PTS': 5.0, 'PLUS_MINUS': -16.0}]",
 "[{'MIN': '42.000000:44', 'FGM': 7.0, 'FGA': 14.0, 'FG_PCT': 0.5, 'FG3M': 0.0, 'FG3A': 0.0, 'FG3_PCT': 0.0, 'FTM': 5.0, 'FTA': 10.0, 'FT_PCT': 0.5, 'OREB': 3.0, 'DREB': 12.0, 'REB': 15.0, 'AST': 8.0, 'STL': 4.0, 'BLK': 2.0, 'TO': 3.0, 'PF': 5.0, 'PTS': 19.0, 'PLUS_MINUS': -8.0}]"]

In [17]:
jsons = []

for stat in stats_list:
    #Convert to dict, first converting nans to None
    stat = stat.replace("nan", "None")
    stat_dict = eval(stat[1:-1])
    #print(stat_dict)

    #Convert to json str
    stat_dict = json.dumps(stat_dict)

    jsons.append(stat_dict)

    #print(stat_dict)

In [18]:
df = df.drop(columns=["player_game_stats"])
df["player_game_stats"] = jsons

In [19]:
df.to_csv("player_game_stats-full-fixed.csv", index=False)

In [20]:
df = pd.read_csv("player_game_stats-full-fixed.csv", dtype={"game_id": str})

In [21]:
for i, row in df.head().iterrows():
    print(row["player_game_stats"])

{"MIN": "22.000000:54", "FGM": 3.0, "FGA": 8.0, "FG_PCT": 0.375, "FG3M": 0.0, "FG3A": 4.0, "FG3_PCT": 0.0, "FTM": 0.0, "FTA": 0.0, "FT_PCT": 0.0, "OREB": 0.0, "DREB": 6.0, "REB": 6.0, "AST": 1.0, "STL": 0.0, "BLK": 0.0, "TO": 3.0, "PF": 5.0, "PTS": 6.0, "PLUS_MINUS": -4.0}
{"MIN": "34.000000:13", "FGM": 3.0, "FGA": 10.0, "FG_PCT": 0.3, "FG3M": 2.0, "FG3A": 7.0, "FG3_PCT": 0.286, "FTM": 0.0, "FTA": 0.0, "FT_PCT": 0.0, "OREB": 1.0, "DREB": 5.0, "REB": 6.0, "AST": 0.0, "STL": 2.0, "BLK": 1.0, "TO": 2.0, "PF": 1.0, "PTS": 8.0, "PLUS_MINUS": -11.0}
{"MIN": "36.000000:49", "FGM": 9.0, "FGA": 21.0, "FG_PCT": 0.429, "FG3M": 1.0, "FG3A": 4.0, "FG3_PCT": 0.25, "FTM": 4.0, "FTA": 5.0, "FT_PCT": 0.8, "OREB": 2.0, "DREB": 8.0, "REB": 10.0, "AST": 2.0, "STL": 1.0, "BLK": 2.0, "TO": 5.0, "PF": 3.0, "PTS": 23.0, "PLUS_MINUS": -8.0}
{"MIN": "24.000000:20", "FGM": 2.0, "FGA": 7.0, "FG_PCT": 0.286, "FG3M": 0.0, "FG3A": 0.0, "FG3_PCT": 0.0, "FTM": 1.0, "FTA": 2.0, "FT_PCT": 0.5, "OREB": 0.0, "DREB": 3.0, "REB": 3.0, "AST": 2.0, "STL": 1.0, "BLK": 0.0, "TO": 3.0, "PF": 1.0, "PTS": 5.0, "PLUS_MINUS": -16.0}
{"MIN": "42.000000:44", "FGM": 7.0, "FGA": 14.0, "FG_PCT": 0.5, "FG3M": 0.0, "FG3A": 0.0, "FG3_PCT": 0.0, "FTM": 5.0, "FTA": 10.0, "FT_PCT": 0.5, "OREB": 3.0, "DREB": 12.0, "REB": 15.0, "AST": 8.0, "STL": 4.0, "BLK": 2.0, "TO": 3.0, "PF": 5.0, "PTS": 19.0, "PLUS_MINUS": -8.0}